@import './variables';
@import './mixins';
@import './Navbar';
@import './WhoIAm';
@import './Projects';
@import './Contact';
@import './Footer';
@import './Collapse';
@import './VideoPlayer';
@import './LoadSpinner';
@import './CardAboutMee';
@import './Skills';
@import 'Cardskills';
@import './mobile';

body{
    font-family: 'Raleway', sans-serif;
    .sectionTitle {
        font-size: 26px;
        h2 {

          font-weight: 400;
        }
      }
}

