/** Breakpoints **/
/** Breakpoints **/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 40%;
}

#menu > li {
  width: 150px;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background: black;
}

#menu li ul a {
  display: block;
  width: 150px;
  height: 40px;
  background: black;
  text-decoration: none;
  color: white;
}

#menu li ul {
  height: 0;
  overflow: hidden;
  transition: 1s all;
}

#menu li a {
  list-style: none;
  color: #fff;
  text-decoration: none;
}

#menu li:hover ul {
  height: 120px;
}

nav {
  position: fixed;
  background: black;
  color: white;
  width: 100%;
  height: 65px;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  padding-left: 2%;
  justify-content: space-between;
  z-index: 100;
}

.no-margin {
  margin: unset;
  background: linear-gradient(to right, #FCB045 0%, #CF1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* The switch - the box around the slider */
.switch {
  left: -6%;
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #303136;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  box-shadow: none;
}

.whoIAm {
  padding-top: 80px;
}
.whoIAm .presentationContainer {
  margin-top: -2%;
  display: flex;
}
@media (max-width: 1026px) {
  .whoIAm .presentationContainer {
    flex-direction: column;
  }
}
.whoIAm .presentationContainer .picSection {
  position: absolute;
}
.whoIAm .presentationContainer .picSection .profilePic {
  width: 330px;
  padding: 0px 40px;
}
@media (max-width: 600px) {
  .whoIAm .presentationContainer .picSection .profilePic {
    width: 200px;
  }
}
.whoIAm .presentationContainer .presentation {
  position: absolute;
  color: white;
}
.whoIAm .presentationContainer .presentation .presentationP {
  text-align: start;
  font-weight: 500;
}
@media (max-width: 1026px) {
  .whoIAm .presentationContainer .presentation .presentationP {
    text-align: center;
  }
}
@media (min-width: 601px) and (max-width: 1025px) {
  .whoIAm .presentationContainer .presentation .presentationP {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .whoIAm .presentationContainer .presentation .presentationP {
    font-size: 14px;
  }
}
.whoIAm .mediaIcons {
  display: flex;
  margin: 50px 120px;
}
.whoIAm .mediaIcons .icons {
  margin-left: 20px;
  font-size: 26px;
  cursor: pointer;
  transition-duration: 150ms;
}
.whoIAm .mediaIcons .icons:hover {
  scale: 1.3;
}

.card_weather {
  left: 65%;
  top: 109px;
  width: 25%;
  height: 168px;
  position: absolute;
  padding: 25px;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%), #FFFFFF;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  text-align: initial;
}

.card:hover {
  transform: scale(1.05);
}

.container {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -35px;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}

.cloud {
  width: 250px;
}

.front {
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}

.right-front {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}

.left-front {
  width: 65px;
  height: 65px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}

.left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 120px;
  height: 120px;
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.sunshine {
  animation: sunshines 2s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes clouds {
  0% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(15px);
  }
}
.card-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-header span:first-child {
  word-break: break-all;
  font-weight: 800;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.66);
}

.card-header span:last-child {
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.33);
}

.temp {
  position: absolute;
  left: 25px;
  bottom: 12px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: rgb(87, 77, 51);
  font-size: 20px;
}

.temp-scale {
  width: 100px;
  height: 36px;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 9px;
}

.temp-scale span {
  font-weight: 700;
  font-size: 13px;
  line-height: 134.49%;
  color: rgba(87, 77, 51, 0.66);
}

.projectsSection .projectList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #DCDCDC;
  padding-top: 5%;
  width: 101.59%;
  margin-left: -1%;
  margin-top: 5%;
  height: 85rem;
}
.projectsSection .projectList .projectGitLink {
  text-decoration: none;
}
.projectsSection .projectList .project {
  display: flex;
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 40px;
  border: 1px solid #dedede;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(54, 50, 50, 0.3803921569);
  width: 28%;
  height: 23rem;
  transition-duration: 300ms;
  max-width: 25rem;
  cursor: pointer;
  background-color: wheat;
}
.projectsSection .projectList .project:hover {
  transform: scale(1.1);
}
@media (max-width: 1026px) {
  .projectsSection .projectList .project {
    margin: 10px 30px;
  }
}
.projectsSection .projectList .project .projectImg {
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid #dedede;
}
.projectsSection .projectList .project .projectTitle {
  border-radius: 10px 10px 0px 0px;
  margin: 0px;
  padding: 4px;
  color: #fff;
  background: linear-gradient(90deg, #833ab4, #fd1d1d 50%, #fcb045);
  cursor: initial;
  display: flex;
  justify-content: space-around;
}
.projectsSection .projectList .project .projectDescription {
  padding: 2px;
  font-size: 14px;
  color: linear-gradient(90deg, #833ab4, #fd1d1d 50%, #fcb045);
  height: 50px;
}
.projectsSection .projectList .project .projectTechno {
  display: flex;
  justify-content: center;
  padding: 4px;
  margin-top: -5%;
  gap: 15px;
}
.projectsSection .projectList .project .projectTechno .technos {
  width: 20px;
  margin: 0px 4px;
}

.project-active .card-inner {
  transform: rotateY(180deg);
}

.not_active {
  border-radius: 10%;
  border: none;
  width: 7%;
  height: 2rem;
  background-color: #7451eb;
  color: white;
}

.active {
  border-radius: 10%;
  border: none;
  width: 7%;
  height: 2rem;
  background-color: white;
  color: #7451eb;
}

.technoButtons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3%;
}

.kasa {
  width: 85%;
  height: 215px;
}

.container_img {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
}

canvas {
  width: 68%;
}

video {
  margin-left: -2%;
  max-width: 102.5%;
}

.fa-fade {
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 5%;
  top: 157rem;
  position: absolute;
  left: 90%;
  padding-right: unset;
}

.pagination .active-pagination {
  display: grid;
  background-color: black;
  align-content: center;
  color: white;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

.pagination li {
  display: grid;
  background-color: white;
  align-content: center;
  color: black;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

.pagination .previous,
.pagination .next {
  display: none;
}

.contactSection {
  margin-top: 8%;
}
.contactSection .contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactSection .contactContainer a {
  width: 80%;
}
.contactSection .contactContainer a .contactIcons {
  padding: 30px 0px;
  margin: 1% 0%;
  border-radius: 25px;
  color: #fff;
  font-size: 50px;
  background: linear-gradient(90deg, #833ab4, #fd1d1d 50%, #fcb045);
  transition-duration: 300ms;
}
.contactSection .contactContainer a .contactIcons:hover {
  background: black;
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  background-color: black;
  margin-left: -1%;
  padding-left: 2%;
  margin-bottom: -1%;
  margin-right: -0.5%;
}
footer li a {
  list-style: none;
  color: #fff;
  text-decoration: none;
}

.col-row {
  padding: 2rem;
}
.col-row ul {
  padding-right: unset;
}
.col-row li {
  padding-bottom: 0.55rem;
}

.container_link {
  display: flex;
}

.text_gradient {
  background: linear-gradient(to right, #FCB045 0%, #CF1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collapse-header {
  position: relative;
  height: 47px;
  background: linear-gradient(90deg, #833ab4, #fd1d1d 50%, #fcb045);
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: bold;
  cursor: pointer;
  padding-left: 15px;
  color: #ffffff;
}
.collapse-header .chevron {
  position: absolute;
  top: 50%;
  right: 15px;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  width: 0.45em;
  transition: transform 0.2s ease;
}
.collapse-header .chevron.open:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.collapse-header.open .chevron {
  transform: translateY(-50%) rotate(135deg);
}

.collapse-content {
  background: #f6f6f6;
  overflow: hidden;
  transition: height 0.3s ease;
}
.collapse-content.collapsed {
  height: 0;
}
.collapse-content.expanded {
  height: 325px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 142.6%;
  color: #EE82EE;
}
.collapse-content.expanded p {
  text-align: justify;
  margin-left: 3%;
  margin-right: 3%;
  width: 89%;
}

.content {
  width: 88%;
  height: 47px;
  left: 9%;
  top: 30%;
}

.App > div:nth-child(2) {
  height: 75rem;
}

.chevron.open:before {
  transform: rotate(135deg);
}

.chevron {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  width: 0.45em;
  vertical-align: top;
}

.chevron.open:before {
  transform: rotate(135deg);
}

.collapse-header .chevron {
  position: absolute;
  top: 50%;
  right: 15px;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  width: 0.45em;
  transition: transform 0.2s ease;
}

.collapse-header .chevron {
  transform: translateY(-50%) rotate(315deg);
}

.collapse-container {
  margin-top: 3%;
  width: 61%;
  margin-left: 33%;
}

.body_logement_detail {
  height: 60rem;
}

.container_video {
  width: 100%;
}

#root {
  animation: hideRoot 5s linear forwards;
}

@keyframes hideRoot {
  1% {
    background-color: black;
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
.container_loadspinner {
  height: 42rem;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 99%;
  align-items: center;
}

.flip-card {
  background-color: transparent;
  width: 13rem;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
  position: absolute;
  left: 2%;
  top: 14%;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 22rem;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(90deg, #833ab4, #fd1d1d 50%, #fcb045);
  color: white;
}

.flip-card-back {
  background: linear-gradient(90deg, #833ab4, #fd1d1d 50%, #fcb045);
  color: white;
  transform: rotateY(180deg);
}

.card-client {
  background: linear-gradient(90deg, #833ab4, #fd1d1d 50%, #fcb045);
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid black;
  box-shadow: 0 6px 10px rgb(207, 212, 222);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  position: absolute;
  margin-top: 3%;
  margin-left: 3%;
}
.card-client:hover {
  transform: translateY(-10px);
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card-back {
  transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 22rem;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-picture {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid black;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: black;
}

.social-media a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}

.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}

.socialContainer {
  width: 20%;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

.containerTwo:hover {
  color: red;
  transition-duration: 0.3s;
}

.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}

.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.card {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.container_social {
  display: flex;
  background: white;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  gap: 15px;
}

.container_button {
  display: inline-flex;
  margin-right: 1rem;
  margin-top: 0.8rem;
}

.button_flip {
  display: flex;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #0E5D4D;
  padding: 4px 8px;
  border-radius: 4px;
  height: 31.1833px;
  transition: background-color 0.3s, color 0.3s;
  border: none;
}
.button_flip:hover {
  background-color: white;
  color: #148672;
}

.ajust_back-flip {
  position: absolute;
  top: 3%;
}

.place-button_flip {
  position: relative;
  top: 52%;
  left: 40%;
}

.container_button {
  display: flex;
  justify-content: flex-end;
  height: 3rem;
}

.margin_regul {
  margin: 13px;
}

.About_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.About_container a {
  text-decoration: none;
  color: white;
}

.Paper {
  width: 100%;
  height: 60rem;
  --s: 125px; /* control the size */
  --c1: #f8ca00;
  --c2: #bd1550;
  --_g: var(--c1) 90deg, var(--c2) 0 135deg, #0000 0;
  background: conic-gradient(from -45deg at 33.3333333333% 33.3333333333%, var(--c1) 90deg, rgba(0, 0, 0, 0) 0), conic-gradient(from -135deg at 33.3333333333% 66.6666666667%, var(--_g)), conic-gradient(from 135deg at 66.6666666667% 66.6666666667%, var(--_g)), conic-gradient(from 45deg at 66.6666666667% 33.3333333333%, var(--_g), var(--c1) 0 225deg, var(--c2) 0);
  background-size: var(--s) var(--s);
}

.card_graduate {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.card a {
  text-decoration: none;
}

.content_skills {
  padding: 1.1rem;
}

.image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(239, 205, 255);
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: 0.3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

@media screen and (min-width: 320px) and (max-width: 993px) and (min-height: 558px) {
  footer a {
    width: 48px;
    height: 48px;
    display: block;
  }
  #menu {
    display: none;
  }
  .card_weather {
    display: none;
  }
  #whoIAmSection {
    padding-top: 0px;
    width: 104%;
    margin-left: -1%;
  }
  #projects {
    margin-top: 60%;
  }
  .presentationContainer {
    align-items: center;
  }
  .flip-card {
    position: inherit;
    margin-top: 18%;
  }
  .technoButtons {
    margin-top: 10%;
  }
  .not_active {
    margin-right: 4%;
    margin-bottom: 5%;
    width: 32%;
  }
  .active {
    margin-right: 4%;
    margin-bottom: 5%;
    width: 32%;
  }
  .projectsSection .projectList .project {
    width: 79%;
  }
  .projectsSection .projectList .project .projectTechno .technos {
    display: none;
  }
  .projectsSection .projectList .project .projectTechno {
    margin-top: -9%;
  }
  .projectsSection .projectList {
    height: initial;
  }
  body {
    overflow-x: hidden;
  }
  .container_link {
    flex-direction: column-reverse;
  }
  footer {
    margin-left: -3%;
    margin-bottom: -3%;
  }
  hr {
    display: none;
  }
  .pagination {
    top: 1042.23px;
    left: 40%;
    width: 23%;
  }
  .pagination .active-pagination, .pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body {
  font-family: "Raleway", sans-serif;
}
body .sectionTitle {
  font-size: 26px;
}
body .sectionTitle h2 {
  font-weight: 400;
}/*# sourceMappingURL=index.css.map */